@media (max-width: 576px) {
    
    .text-sm-8 {
        font-size: 8px !important;
    }

    .text-sm-9 {
        font-size: 9px !important;
    }

    .text-sm-10 {
        font-size: 10px !important;
    }

    .text-sm-11 {
        font-size: 11px !important;
    }

    .text-sm-12 {
        font-size: 12px !important;
    }

    .text-sm-13 {
        font-size: 13px !important;
    }

    .text-sm-14 {
        font-size: 14px !important;
    }

    .text-sm-15 {
        font-size: 15px !important;
    }

    .text-sm-16 {
        font-size: 16px !important;
    }


    .text-sm-18 {
        font-size: 18px !important;
    }

    .text-sm-20 {
        font-size: 20px !important;
    }

    .text-sm-22 {
        font-size: 22px !important;
    }

    .text-sm-24 {
        font-size: 24px !important;
    }

    .text-sm-26 {
        font-size: 26px !important;
    }


}