.Store {
    width: 100%;
    height: 100%;
    padding: 0;
}

/* TopImg */

.Store .TopImgContainer {
    width: 1460px;
    max-width: 100%;
    height: 468px;
    margin: 10px auto;
    margin-bottom: 10px;
    padding: 0;
    background: url('../../../assets/img/topImg.jpg');
    background-size: cover;
}

.borderSolid {
    border: 2px solid black;
}

/* Store */
.Store .ProductsContainer {
    width: 1460px;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
}

.Store .ProductsHeader {
    width: 100%;
    text-align: center;
}

.Store .ProductsHeader ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.Store .ProductsHeader li {
    margin: 0 10px;
    padding: 6px 0px;
}

.Store .ProductsHeader .active {
    border-bottom: 1px solid rgb(135, 149, 161);
}

.Store .ProductsHeader a {
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.Store .ProdCategories {
    list-style: none;
    margin-top: 20px;

}

.Store .ProdCategories li {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.Store .ProdCategories .active {
    font-weight: bold;
    color: black;
}

.Store .FilterProdHeader {
    font-size: 14px;
    color: #606f7b;
}

.Store .ProductCard {
    width: 33.33%;
    height: 26vw;
    display: inline-block;
    text-align: center;
}

.Store .ProductDetail {
    cursor: pointer;

}

.Store .ProductCard img {
    width: 80%;
    height: 60%;
}

.Store .ProductList {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0 50px;
}

.Store .ProductFilter {
    position: sticky;
    top: 100px;
    padding-left: 10px;
}


@media (max-width: 1090px) {
    .Store .ProdCategories li {
        font-size: 13px;
    }

    .Store .ProdCategories {
        padding-left: 20px;
    }

    .Store .FilterProdHeader {
        font-size: 12px;
    }

    .Store .ProductDetail h6{
        font-size: 13px ;
    }
}

@media (max-width: 768px) {

    .Store .ProdFilterCol {
        display: none;
    }

    .Store .ProductCard {
        width: 50%;
        height: 50vw;
    }

    .Store .ProductDetail h6{
        font-size: 14px ;
    }

    .Store .ProductList {
        padding: 0 30px;
    }

    .Store .ProductsContainer .row {
        margin: 0;
    }
}

@media (max-width: 468px) {

    .Store .ProductList {
        padding: 0 10px;
    }

    .Store .ProductDetail h6{
        font-size: 12px ;
    }

    .Store .ProductCard {
        height: 55vw;
    }
}

.ProdCategories a {
    color: black;
} 

.Store .MoreProductContainer {
    width: 100%;
    text-align: center;
}

.Store .MoreProducts {
    padding: 1rem 2rem;
    margin-bottom: 40px;
    font-size: 16px;
    word-spacing: 1px;
    letter-spacing: 2px;
    font-weight: 100;
    background-color: #F1F5F8;
    color: #3D4852;
    border: 1px solid #dae1e7;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.Store .MoreProducts:hover, .Store .MoreProducts:active, .Store .MoreProducts:focus {
    filter: brightness(95%);
    outline: none;
}