div.CartItems {
    width: 100%;
    padding: 10px;
}

.EmptyCart-ImgContainer {
    margin-top: 40px;
    width: 280px;
    height: 260px;
    margin-bottom: 20px;
    margin-left: -80px;
}

.EmptyCart-ImgContainer img {
    width: 100%;
    height: 100%;
    margin-left: 8px;
}

.CartItem {
    display: flex;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.CartItem .ProdDesc {
    flex-grow: 1;
    padding: 0;
    margin: 0;
}

.CartItem .Controls {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
}

.Sidedrawer .Controls {
    margin-right: 0;
}

.CartItem .ImgContainer img{
    width: 60px;
    height: 60xp;
}

.CartItem .ItemName a {
    font-weight: bold;
    color: black !important;
    font-size: 15px;
}

.CartItem .ItemName a:hover {
    color: rgb(59, 58, 58) !important;
    text-decoration: underline;
}

.CartItem .ItemCategory {
    color: #8795A1;
    font-size: 14px;
}

.CartItem .ItemDesc {
    font-size: 14px;
    margin: 3px 0;
}

.Controls {
    text-align: center;
}

.Controls .RemoveItem, .Controls .AddItem, .ItemQuantity {
    display: inline-block;
    width: 35px;
    height: 45px;
    padding: 8px;
    background-color: #f1f5f8;
    font-size: 16px;
    outline: none;
    border: none;
}

.CartItem .ItemQuantity {
    background-color: white;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.CartItem .RemoveItem {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.CartItem .AddItem {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.CartItem .Remove {
    font-size: 11px;
    margin: 10px 0 0 0;
    color: #8795A1;
    cursor: pointer;
    background-color: white;
    border: none;
    outline: none;
}

.CartItem .Remove:hover {
    text-decoration: underline;
}

.CartControls {
    display: flex;
    margin: 0 5px;
}